.displaycase {
    display: grid;


    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-content: center;
}

.displayelement{
    padding: 10px;
    margin: 5px;

    border-radius: 15px;
    /*background-color: rgb(22, 11, 55);*/

    aspect-ratio: 1.5;

    display: grid;
    grid-auto-rows: 65% 35%;

    text-decoration: none;
    color: white;
}

.displayelement p{
    margin: 0;
    font-size: large;
}

.displayelement .icon{
    text-align:center;
    width: 100%;
    height: 100%;

    object-fit: contain;

    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.displayelement .icon img{
    object-fit: contain;

    width: 100%;
    height: 100%;
}

@media all and (max-width: 1200px){
    .displaycase{
        grid-template-columns: 50% 50%;
    }

    .displayelement{
        aspect-ratio: 2;
    }

    .displayelement p{
    font-size: medium;
    }
}

@media all and (max-width: 600px){
    .displayelement{
        aspect-ratio: .7;
    }

    .displayelement p{
        font-size: small;
    }
}