:root{
    background-color: #101010;
    color: aliceblue;
    text-align: center;
}
.gridcontainer
{
    display: grid;

    grid-template-columns: 33% 33% 33%;

    gap: 3px;
    padding-left: 10%;
    padding-right: 10%;
}

@media all and (max-width: 1200px){
    .gridcontainer{
            grid-template-columns: 50% 50%;
    }
}

@media all and (max-width: 600px){
    .gridcontainer{
            grid-template-columns: 100%;
    }
}

h1 {
    font-size: 48px;
}

.gridcontainer #gridelement{
    border-radius: 15px;
    border-style: solid;
    background-color: aliceblue;
    border-width: 2%;
    border-color: aquamarine;

    aspect-ratio: 2.5;

    padding: 1%;

    margin-right: 0.5vw;
    margin-left: .5vw;
    margin-top: .5vh;
    margin-bottom: .5vh;

    background-repeat: no-repeat;
    background-size: cover;
}

a{
    transform: scale(1);
    transition: .5s;
}
a:hover{
    transform: scale(1.02);
    transition: .1s;
}


.gridcontainer div.header{
    grid-area: header;
    text-align: center;
    height: 10vh;
}

.game{
    display: flex;
    justify-content:left;
    align-content: left;
}
.game h1{
    text-align: left;
    vertical-align: middle;
    align-items: center;

    text-decoration: none;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.game img{
    object-fit:contain;
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 40%;
}

.listcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.listcontainer div{
    margin: 5%;
    
}
.listcontainer div img{
    max-height: 10vh;
    object-fit: contain;
}