:root{
    background-color: #101010;
    color: aliceblue;
    text-align: center;
}

body{
    margin: 0px;
}

.content{
    margin-left: 6vw;
    margin-right: 6vw;
}
.section{
}

a{
    transform: scale(1);
    transition: .5s;
    color: inherit;
}
a:hover{
    transform: scale(1.05);
    transition: .1s;
}

#title{
    border-style: solid;
    border-color: rgb(145, 145, 145);
    border-width: 0;
    border-bottom-width: 1px;
}

p#square{
    text-align: justify;
}