.topbar{
    width: auto;
    height: fit-content;

    position: sticky;
    top: 0;

    display: grid;
    grid-template-columns: auto auto;

    background-color: black;
    border-bottom: 1px solid aliceblue;
    
    z-index: 1000;
    
    text-align: center;
    align-items: center;

    font-size: larger;
}